body {
  text-align: center;
  font-family: 'Arial', sans-serif;
  margin: 0;
  background: url('https://i.makeagif.com/media/11-17-2015/6KxRSN.gif') center center fixed;
  background-size: cover;
}

.container {
  background: linear-gradient(45deg, rgba(255, 255, 255, 0.8), rgba(240, 240, 240, 0.8));
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: 100px auto;
  width: 80%;
  animation: backgroundAnimation 10s linear infinite alternate;
}

@keyframes backgroundAnimation {
  from {
    background-position: 0% 0%;
  }

  to {
    background-position: 100% 100%;
  }
}

h1 {
  color: #FF5733;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in-out;
}

h2 {
  transition: all 0.3s ease-in-out;
}

p {
  transition: all 0.3s ease-in-out;
}

img {
  width: 150px;
  height: 150px;
  transition: all 0.3s ease-in-out;
}

h1:hover, h2:hover, p:hover {
  color: #3366cc;
}

.website-link {
  display: block;
  margin-top: 20px;
  text-decoration: none;
  color: #3366cc;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

.website-link:hover {
  color: #FF5733;
}

